<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Rock+Salt">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Covered+By+Your+Grace" >
        <link rel="stylesheet" href="src/css/style.css">

        <title>Scrumboard</title>
    </head>
    <body>
        <h1>Scrumboard
            <small>Forked from
                <a href="http://scrumblr.ca">scrumblr</a> 
                by 
                <a href="http://aliasaria.ca">aliasaria</a>
            </small>
        </h1>

        <ul class="menu">
            <li id="add-task">
                <i class="icon-tasks icon-large"></i>
                <a class="button" href="#">Add task</a>
            </li>
            <li id="add-status">
                <i class="icon-tag icon-large"></i>
                <a class="button" href="#">Add status</a>
            </li>
            <li id="add-user">
                <i class="icon-user icon-large"></i>
                <a class="button" href="#">Add assigned to</a>
            </li>
        </ul>

        <ul id="users">
        </ul>

        <div class="board-outline">
            <div id="board">
                <div id="board-doodles"></div>
                <div id="main"></div>
                <img id="marker-and-eraser" src="src/img/marker-and-eraser.png">
                <a id="add-status" class="button add icon plus-sign"></a>
                <a id="remove-status" class="button remove"></a>
            </div>
        </div>

        <div id="tasks"></div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> 
        <!-- jQuery UI for draggable and droppable, no CSS needed -->
        <script src="src/js/lib/jquery-ui-1.10.0.custom.min.js"></script> 

        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script> 
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script> 
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.0/backbone.localStorage-min.js"></script> 

        <script src="src/js/models.js"></script> 
        <script src="src/js/collections.js"></script> 
        <script src="src/js/views/task.js"></script> 
        <script src="src/js/views/status.js"></script> 
        <script src="src/js/views/user.js"></script> 
        <script src="src/js/scrumboard.js"></script> 

        <script type="text/template" id="task-template">
            <div class="task shadow" data-id="<%= id %>">
                <div class="task-body">
                    <a href="#" class="remove">
                        <i class="icon-remove icon-large"></i>
                    </a>
                    <h3></h3>
                    <p><%= title %></p>
                </div>
            </div>
        </script>
            
        <script type="text/template" id="status-template">
            <div class="status">
                <a href="#" class="remove">
                    <i class="icon-remove icon-large"></i>
                </a>
                <h2><%= title %></h2>
            </div>
        </script>

        <script type="text/template" id="user-list-template">
            <li class="user clone" data-id="<%= id %>">
                <span title="<%= title %>"><%= initials %></span>
            </div>
        </script>

        <script type="text/template" id="user-template">
            <div class="user" data-id="<%= id %>">
                <a href="#" class="remove">
                    <i class="icon-remove icon-large"></i>
                </a>
                <span title="<%= title %>"><%= initials %></span>
            </div>
        </script>
    </body>
</html>
