<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="http://fortawesome.github.com/Font-Awesome/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="src/css/style.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Rock+Salt">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Covered+By+Your+Grace" >

        <title>Scrumboard</title>
    </head>
    <body>
        <h1>Scrumboard
            <small>Forked from
                <a href="http://scrumblr.ca">scrumblr</a> 
                by 
                <a href="http://aliasaria.ca">aliasaria</a>
            </small>
        </h1>

        <div class="board-outline">
            <div id="board">
                <div id="board-doodles"></div>
                <div id="main"></div>
                <img id="marker-and-eraser" src="src/img/marker-and-eraser.png">
                <a id="add-status" class="button add icon plus-sign"></a>
                <a id="remove-status" class="button remove"></a>
            </div>
        </div>

        <ul class="menu">
            <li id="add-task">
                <i class="icon-tasks icon-large"></i>
                <a class="button" href="#">Add task</a>
            </li>
            <li id="add-status">
                <i class="icon-tag icon-large"></i>
                <a class="button" href="#">Add status</a>
            </li>
            <li id="add-assignedto">
                <i class="icon-user icon-large"></i>
                <a class="button" href="#">Add assigned to</a>
            </li>
        </ul>
        <div id="tasks"></div>
        
        <script src="http://code.jquery.com/jquery.min.js"></script> 
        <!-- jQuery UI for draggable and droppable, no CSS needed -->
        <script src="src/js/lib/jquery-ui-1.10.0.custom.min.js"></script> 

        <script src="http://underscorejs.org/underscore-min.js"></script> 
        <script src="http://backbonejs.org/backbone.js"></script> 
        <script src="http://backbonejs.org/examples/backbone-localstorage.js"></script> 

        <script src="src/js/models.js"></script> 
        <script src="src/js/collections.js"></script> 
        <script src="src/js/views/task.js"></script> 
        <script src="src/js/views/status.js"></script> 
        <script src="src/js/scrumboard.js"></script> 

        <script type="text/template" id="task-template">
            <div class="task shadow">
                <div class="task-body">
                    <a href="#" class="remove">
                        <i class="icon-remove icon-large"></i>
                    </a>
                    <h3></h3>
                    <p><%= title %></p>
                </div>
            </div>
        </script>
            
        <script type="text/template" id="status-template">
            <div class="status">
                <a href="#" class="remove">
                    <i class="icon-remove icon-large"></i>
                </a>
                <h2><%= title %></h2>
            </div>
        </script>
    </body>
</html>
