body {
    font-family: 'Helvetica Neue Light', arial, serif;
    font-size: 13px;
    background-image: url('../img/bg.png');

    /*
    user-select: none;
    -o-user-select:none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    */
}

h1, small, small a {
    color: #b6b6b6;
    letter-spacing: +1px;
    font-family:  "Helvetica Neue Light", "HelveticaNeue-Light", 'Helvetica Neue', arial, serif;
}

h1 {
    font-weight: normal;
    font-size: 15px;
}

h2 {
    font-family: 'Rock Salt', "Arial Rounded MT Bold", arial, serif;
    color: #5c9db4;
    font-size: 18px;
    text-align: center;
}

#board {
    position: relative;
    background-color: #dcd5d1;

    height: 100%;
    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0.49, rgb(214,210,206)),
        color-stop(0.84, rgb(196,191,182))
    );
    -moz-box-shadow:inset 1px 1px 3px #999;
    box-shadow:inset 1px 1px 3px #999;
    overflow: hidden;
}

.board-outline {
    border: solid #ccc 8px;
    display: block;
    -webkit-box-shadow: 1px 3px 2px #aaa;
    -moz-box-shadow: 1px 3px 2px #999;
    box-shadow: 1px 3px 2px #999;

    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top: 35px;
    margin-bottom: 45px;
    margin-right: 30px;
    margin-left: 10px;
}

#board-doodles {
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline;
    opacity: 0.035;
    background-image: url('../img/scribbles.png');
}

.button {
    color: #5c9db4;
}

#marker-and-eraser {
    position: absolute; 
    bottom: 0; 
    right: 200px;
    z-index: 1;
}

.menu {
    list-style: none;
    position: absolute;
    bottom: 0px;
    width: 400px;
    padding-left: 0;
}

.menu li {
    float: left;
    margin-left: 20px;
}

#main {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
    position: absolute;
}

.status {
    display: table-cell;
    background-image: url('../img/green-board-line.png');
    background-repeat: repeat-y;
    position: relative;
}

.status:first-child {
    background-image: none;
}

.task-body {
    position: absolute !important;
    width: 100%;
    height: 100%;
    font-family:'Covered By Your Grace', cursive;
    font-size: 30px;
    overflow: hidden;
    background-image: linear-gradient(300, rgb(255, 255, 255) 33%, rgb(189, 210, 242) 100%);
    background-image: -o-linear-gradient(300, rgb(255, 255, 255) 33%, rgb(189, 210, 242) 100%);
    background-image: -moz-linear-gradient(300, rgb(255, 255, 255) 33%, rgb(189, 210, 242) 100%);
    background-image: -webkit-linear-gradient(300, rgb(255, 255, 255) 33%, rgb(189, 210, 242) 100%);
    background-image: -ms-linear-gradient(300, rgb(255, 255, 255) 33%, rgb(189, 210, 242) 100%);
    background-image: -webkit-gradient(linear, left 300, left top, color-stop(0.33, rgb(255, 255, 255)), color-stop(1, rgb(189, 210, 242)));
}
h3 {
    border-bottom: 1px solid #b68892;
    min-height: 15px;
}
p {
    height: 100%;
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAYAAAB10jRKAAAAE0lEQVQIW2NkAAJGYolJew78BwAIQAMYJVSb9AAAAABJRU5ErkJggg==') repeat;
}
.shadow {
    border:1px solid #ccc;
    position:relative;
    width:200px;
    height:150px;
    background-color:#ededed;
}
.shadow:before, .shadow:after {
    bottom:13px;
    content:"";
    position: absolute;
    z-index: -1;
    -ms-transform: rotate(-11deg);
    -webkit-transform: rotate(-11deg);
    -o-transform: rotate(-11deg);
    -moz-transform: rotate(-11deg);
    box-shadow: 0 15px 5px rgba(0, 0, 0, 0.2);
    height: 50px;
    max-width: 50%;
    width: 50%;
    left:3px;
}
.shadow:after {
    -ms-transform: rotate(11deg);
    -webkit-transform: rotate(11deg);
    -o-transform: rotate(11deg);
    -moz-transform: rotate(11deg);
    left: auto;
    right: 2px;
}

p, h3 {
    margin: 0;
}

p {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0px;
    color: black;
    text-align: center;
    padding-top: 10px;
}

.remove {
    text-decoration: none;
    position: absolute;
    right: 10px;
    display: none;
    color: #b6b6b6;
    font-size: 16px;
}

.task-body:hover > .remove, .status:hover > .remove {
    display: initial;
}

#tasks {
    position: absolute;
    left: 0;
    top: 0;
}
